USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 11/11/2025 15:58:42 ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Schema [STAGE]    Script Date: 11/11/2025 15:58:42 ******/
CREATE SCHEMA [STAGE]
GO
/****** Object:  Table [dbo].[BookRentals]    Script Date: 11/11/2025 15:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookRentals](
	[Cust_ID] [int] NOT NULL,
	[Book_ID] [int] NOT NULL,
	[Book_Checkout] [date] NOT NULL,
	[Book_Returned] [date] NOT NULL,
	[Allowed_Duration_Days] [int] NOT NULL,
	[Actual_Duration_Days] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC,
	[Book_ID] ASC,
	[Book_Checkout] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/11/2025 15:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Book_ID] [int] NOT NULL,
	[Title] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/11/2025 15:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Cust_ID] [int] NOT NULL,
	[Name] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [STAGE].[Books_Data]    Script Date: 11/11/2025 15:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STAGE].[Books_Data](
	[ID] [int] NOT NULL,
	[Books] [varchar](250) NOT NULL,
	[Book_Checkout] [date] NOT NULL,
	[Book_Returned] [date] NOT NULL,
	[Days_Allowed_To_Borrow] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Loan_Duration_Days] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STAGE].[Customer_Data]    Script Date: 11/11/2025 15:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STAGE].[Customer_Data](
	[Customer_ID] [int] NOT NULL,
	[Customer_Name] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookRentals]  WITH CHECK ADD FOREIGN KEY([Book_ID])
REFERENCES [dbo].[Books] ([Book_ID])
GO
ALTER TABLE [dbo].[BookRentals]  WITH CHECK ADD FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[Customers] ([Cust_ID])
GO
USE [master]
GO
